{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<h1>About Spectrum Ltd</h1>
<div class= "row row-flex">
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-8 display panel panel-default">
        <div class="panel-body">
<p>
Hello and welcome to our shop! Spectrum Ltd. are a new company that has recently become established in October 2018.
We're here to offer you beautiful giclee prints with a range of photographic images.</p><br> 

<p>We hope that these will add a 'Drop of Colour' to your rooms, to your life and world. 
We really enjoy the prints we make and are keen on supporting up and coming artists with their work. 
If you have any suggestions for us as a customer or as an artist and wish to exhibit your work 
or sell your work/prints on our website we are keen to hear from you. 
Please do get in touch via our contact page and we'll get back to you in a week at latest. 
</p>
<br>
<p>Thank you for visiting us again! 
We hope you enjoy the prints as much as enjoy making them. 
</p><br><br>

<p class="signature">
Happy Shopping from The Spectrum Ltd Team.
</p>
        </div>
    </div>
</div>
{% endblock %}