{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block content %}
<div class="carousel container-fluid row row-flex">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9 display panel panel-default">
        <div id="carousel-index" class="carousel slide container" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
                <figure class="carousel-image item active">
                    <img class="carousel-img"  src="{% static 'images/strawberry.jpg' %}" alt="strawberry">
                    <div class="carousel-caption">
                        <a href="{% url 'filter_product_by_red' %}" class="filter-caption">Red</a>
                    </div>
                </figure>
                <figure class="carousel-image item">
                    <img class="carousel-img" src="{% static 'images/birdofparadise.jpg' %}" alt="birdofparadise">
                    <div class="carousel-caption">
                        <a href="{% url 'filter_product_by_orange' %}" class="filter-caption">Orange</a>
                    </div>
                </figure>
                <figure class="carousel-image item">
                    <img class="carousel-img" src="{% static 'images/sunflower.jpg' %}" alt="sunflower">
                    <div class="carousel-caption">
                        <a href="{% url 'filter_product_by_yellow' %}" class="filter-caption">Yellow</a>
                    </div>
                </figure>
                <figure class="carousel-image item">
                    <img class="carousel-img" src="{% static 'images/cacti.jpg' %}" alt="cacti">
                    <div class="carousel-caption">
                        <a href="{% url 'filter_product_by_green' %}" class="filter-caption">Green</a>
                    </div>
                </figure>
                <figure class="carousel-image item">
                    <img class="carousel-img" src="{% static 'images/palmtree.jpg' %}" alt="palm tree">
                    <div class="carousel-caption">
                        <a href="{% url 'filter_product_by_blue' %}" class="filter-caption">Blue</a>
                    </div>
                </figure>
                <figure class="carousel-image item">
                    <img class="carousel-img" src="{% static 'images/bauhinia.jpg' %}" alt="bauhinia">
                    <div class="carousel-caption">
                        <a href="{% url 'filter_product_by_purple' %}" class="filter-caption">Purple</a>
                    </div>
                </figure>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-index" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-index" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-3 display panel panel-default">
        <div class="panel-body section-one">
            <h3>Add a drop of Colour to your life</h3>
            <br>
            <p>We hope that our images will add a 'Drop of Colour' to your rooms, to your life and world. 
                We really enjoy the prints we make and are keen on supporting up and coming artists with their work.  
                We provide A4, A3 and A2 sized beautiful giclée prints in a range of photographic images. 
                <br><br>
                Enjoy and Happy Shopping!
                <br><br>
            </p>
            <p class="signature">Spectrum Ltd</p>
        </div>
    </div>
</div>
<a href="{% url 'get_review' %}">
    <h3>Our Customer Reviews</h3>
</a>
<div class= "container-fluid row row-flex">
    {% for review in review %}
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 display panel panel-default">
        <div class="review-panel-index">
            <div class="col-xs-8 col-sm-6 col-md-5 col-lg-4 text-center">
                <img class="review-product-index" src="{{ MEDIA_URL }}{{ review.product.image }}" alt="review product image">
                <div class="boldtext">Product: {{ review.product }}</div>
                {% if review.image == "" %}
                {% else %}
                <br>
                <div class="boldtext">{{ review.author }} image:</div>
                <img class="review-product-index" src="{{ MEDIA_URL }}{{ review.image }}" alt="user uploaded review image">
                <br>
                {% endif %}            
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 review-text">
                <a href="{% url 'review_detail' review.id %}">
                    <h3>{{ review.title }}</h3>
                </a>
                <div class="row">
                    <div class="col-xs-12">
                        <p><span class="boldtext">Author:</span>{{ review.author }}</p>
                        <p><span class="boldtext">Rating:</span>
                        <p class="rating">{{ review.rating }}</p>
                        <p><span class="boldtext">Published on:</span> {{ review.published_date }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<a href="{% url 'products' %}">
    <h3>Our Images</h3>
</a>
<div class= "container-fluid row row-flex">
    {% for product in product %}
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 display panel panel-default">
        <div class="panel-body">
            <img class="product" src="{{ MEDIA_URL }}{{ product.image }}" alt="product image">
            <a href="{% url 'products' %}">
                <h3>{{ product.name }}</h3>
            </a>
            <p class="product-description">{{ product.description }}</p>
            <p><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>{{ product.price }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}