{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block title %}Contact us{% endblock %}

{% block content %}
<h1>Get in touch with us</h1>

<div class= "row row-flex">
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-6 display panel panel-default">
        <div class="center-form">
            <form action="/contacts/" method="post" id="contactForm">
                <legend>Contact Form </legend>
                    {{ contact_form|as_bootstrap }}
                    {% csrf_token %}
                <button class="btn btn-primary" id="submit_email_btn" name="contactsubmit" type="submit">Send Email</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
