{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %}- Contact us{% endblock %}
{% block content %}
<h1>Get in touch with us</h1>
<div class= "row row-flex">
    <div class="col-xs-9 col-xs-offset-1 col-sm-offset-0 col-sm-9 col-md-6 display panel panel-default">
        <div class="center-form">
            <legend>Contact Form</legend>
            <form action="/contacts/" method="post" id="contactForm">
                {{ contact_form|as_bootstrap }}
                {% csrf_token %}
                <button class="btn btn-primary" id="submit_email_btn" name="contactsubmit" type="submit">Send Email</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}