{% extends "base.html" %}
{% block title %}- Thank You{% endblock %}
{% block content %}
<div class= "container-fluid row row-flex">
    <div class="col-xs-12 col-sm-12 col-md-8 display panel panel-default">
        <div class="panel-body">
            <h1>Thank You for getting in touch</h1>
            <br><br>
            <p>Thank you for contacting Spectrum Ltd.</p>
            <br>
            <p>We value your opinion and thoughts.</p>
            <br>
            <p>A customer representative will be in touch with you in the next 2 weeks.</p>
            <br>
            <p>Please note we have sent you a copy of your email for your information.</p>
            <br>
            <p class="signature">Spectrum Ltd</p>
            <br><br>
            <p>Please click <a href="/">here</a> to return to the homepage.</p>
        </div>
    </div>
</div>
{% endblock %}