{% extends 'base.html' %}

{% block title %}Confirm New Password{% endblock %}

{% block content %}  
<h1>Please Confirm Your New Password</h1>
{% if validlink %}
    <p>Please enter your new password and reconfirm your password below</p>
    
<form method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
    <table>
        <tr>
            <td>{{ form.new_password1.errors }}
                <label for="id_new_password1">New Password:</label>
            </td>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td>{{ form.new_password2.errors }}
                <label for="id_new_password2">Confirm New Password:</label>
            </td>
            <td>
                {{ form.new_password2 }}
            </td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" class="btn-btn-default">Change my password</button></td>
        </tr>
    </table>
</form>
{% else %}
<h1>Password reset unsuccessful</h1>
<p>The password reset link was invalid, <br> possibly because it has already been used. <br> Please request a new password reset.</p>
{% endif %} {% endblock %}
