{% extends 'base.html' %}

{% block title %}- Reset Link Sent{% endblock %}

{% block content %}  
<h1>Password Reset Details Sent</h1>
<br>
<p>If you have an account with us, we will send details to the email address you have provided.</p>
<p>These details should be with you shortly.</p>
<p>Please follow the link and instructions to successfully reset your password.</p>
<p>If you do not receive an email from us you may not have sn account with us.</p>
<p>Please register for an account <a href="{% url 'registration' %}">here.</a></p>
{% endblock %}