{% extends 'base.html' %}
{% block title %} - Our Images{% endblock %}
{% block content %}
<h1>Our Images</h1>
<br>
<p>Please note that all prints will add a £4 delivery fee when added to cart which is the cost of a Signed For/Tracked and insured service</p>
{% if user.is_authenticated %}
<p>If you wish to provide some feedback on our images please feel free to <a href="{% url 'new_review' %}">add a review.</a></p>
{% endif %}
<p>Please feel free to have a look at our <a href="{% url 'get_review' %}">customer reviews</a></p>
<div class="products dropdown">
    <button class="dropdown-toggle btn btn-info" data-toggle="dropdown">Sort Products
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="{% url 'sort-a-z' %}">Sort (A-Z)</a></li>
        <li><a href="{% url 'sort-z-a' %}">Sort (Z-A)</a></li>
        <li><a href="{% url 'sort-asc-cost' %}">Sort by Price (Low - High)</a></li>
        <li><a href="{% url 'sort-desc-cost' %}">Sort by Price (High - Low)</a></li>
        <li><a href="{% url 'filter_product_a4' %}">Show all A4 Prints</a></li>
        <li><a href="{% url 'filter_product_a3' %}">Show all A3 Prints</a></li>
        <li><a href="{% url 'filter_product_a2' %}">Show all A2 Prints</a></li>
    </ul>
</div>
<br>
<div class="hidden-xs hidden-sm col-md-12 col-lg-12 display panel panel-default">
    <div class="filter-color">
        <a href="{% url 'filter_product_by_red' %}" class="red filter-color">Red</a>
        <a href="{% url 'filter_product_by_orange' %}" class="orange filter-color">Orange</a>
        <a href="{% url 'filter_product_by_yellow' %}" class="yellow filter-color">Yellow</a>
        <a href="{% url 'filter_product_by_green' %}" class="green filter-color">Green</a>
        <a href="{% url 'filter_product_by_blue' %}" class="blue filter-color">Blue</a>
        <a href="{% url 'filter_product_by_pink' %}" class="pink filter-color">Pink</a>
        <a href="{% url 'filter_product_by_purple' %}" class="purple filter-color">Purple</a>
        <a href="{% url 'filter_product_by_white' %}" class="white filter-color">White</a>
        <a href="{% url 'filter_product_by_black' %}" class="black filter-color">Black</a>
    </div>
</div>
<br>
<div class= "container-fluid row-flex row">
    {% for product in products %}
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 display panel panel-default">
        <div class="panel-body">
            <img class="product" src="{{ MEDIA_URL }}{{ product.image }}" alt="product image">
            <h3>{{ product.name }}</h3>
            <br>
            <p class="product-description">{{ product.description }}</p>
            <br>
            <p class="product-size">Size: {{ product.size }}</p>
            <br>
            <p class="product-tags">Tags: {{ product.tags }}</p>
            <br>
            <p>Image: © Andrea Ma</p>
            <p class="price"><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>{{ product.price }}</p>
            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-group-addon">Quantity</div>
                    <input name="quantity" type="number" value="1" min="1" max="50" class="form-control" placeholder="Quantity">
                    <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Add</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    {% empty %}
    <br>
    <div class="col-xs-12">
        <p>Sorry your search terms did not match any products in the online shop.Please click <a href="{% url 'products' %}">here</a> to see all products.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}