{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %}- {{ user }}'s Profile{% endblock %}
{% block content %}
<div class="col-sm-6 col-md-6">
    <h1>{{ user }}'s Profile</h1>
    <br>
    <div class="bold-text">First Name:</div> <p> {{ user.first_name }}</p>
    <div class="bold-text">Last Name:</div> <p>  {{ user.last_name }}</p>
    <div class="bold-text">Username: </div> <p> {{ user }}</p>
    <div class="bold-text">Email:</div> <p>  {{ user.email }}</p>
</div>
<br>
{% for address in address %}
<div id="account-address" class="col-sm-6 col-md-6">
    <h3>Saved Address</h3>
    <div class="bold-text">Full Name:</div><p> {{ address.full_name }}</p>
    <div class="bold-text">Address 1:</div><p> {{ address.address1 }}</p>
    <div class="bold-text">Address 2:</div><p> {{ address.address2 }}</p>
    <div class="bold-text">Town/City:</div><p> {{ address.town_or_city }}</p>
    <div class="bold-text">County:</div><p> {{ address.county }}</p>
    <div class="bold-text">Postcode:</div><p> {{ address.postcode}}</p>
    <div class="bold-text">Country:</div><p> {{ address.country }}</p>
    <p class="col-sm-3"><a href="{% url 'edit_address' user.id %}" class="btn btn-info">Edit Address</a></p>
{% endfor %}
    {% if product_count > 0 %}
    <a href="{% url 'checkout' %}" class="btn btn-success col-sm-4" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Back to Checkout</a>
    {% endif %}
</div>
<br>
    <div class="container">
    <h3>Order History</h3>
    {% for orders in orders %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body-profile">
            <p class="order-profile-info">Order Number: #{{ orders.order.id }}</p>
            <p class="order-profile-info"> Date ordered: {{ orders.date }}</p>
            <h3 class="order-profile-info"><a href="{% url 'products' %}">Product Name: {{ orders.product.name }}</a></h3>
            <img class="product-profile" src="{{ MEDIA_URL }}{{ orders.product.image }}" alt="product image">
            <p class="order-profile-info">Quantity: {{ orders.quantity }}</p>
        </div>
    </div>
    {% empty %}
    <br>
    <div class="col-xs-6 col-sm-12">
        <p>You don't currently have any past orders. Please check out <a href="{% url 'products' %}">our images</a> to see if there is anything you'd like to buy.</p>
    </div>
    {% endfor %}
    </div>
{% endblock %}