{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block title %}- {{ user }}'s Profile{% endblock %}

{% block content %}
<div class="col-sm-6 col-md-6">
<h1>{{ user }}'s Profile</h1>
<br>
<p>First Name: {{ user.first_name }}</p>
<p>Last Name: {{ user.last_name }}</p>
<p>Username: {{ user }}</p></p>
<p>Email: {{ user.email }}</p>
</div>
<br>
{% for address in address %}
        <div id="account-address" class="col-sm-6 col-md-6">
        <legend>Saved Address</legend>
        <p>Full Name: {{ address.full_name }}</p>
        <p>Address 1: {{ address.address1 }}</p>
        <p>Address 2: {{ address.address2 }}</p>
        <p>County: {{ address.county }}</p>
        <p>Town/City: {{ address.town_or_city }}</p>
        <p>Postcode: {{ address.postcode}}</p>
        <p>Country: {{ address.country }}</p>
        
        <p class="col-sm-3"><a href="{% url 'edit_address' user.id %}" class="btn btn-info">Edit Address</a></p>
{% endfor %}

{% if product_count > 0 %}
<a href="{% url 'checkout' %}" class="btn btn-success col-sm-4" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Back to Checkout</a>
{% endif %}
</div>
<br>
<legend>Order History</legend>
{% for orders in orders %}
<div class="col-xs-12">
<div class="panel-body-profile">
<h3 class="order-profile-info">Product Name: {{ orders.product.name }}</h3> 
<p class="order-profile-info">Order Number: #{{ orders.order.id }}</p>
<p class="product-profile" style="background-image: url('{{ MEDIA_URL }}{{ orders.product.image }}')"></p>     
<p class="order-profile-info">Quantity: {{ orders.quantity }}</p>
<p class="order-profile-info"><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>{{ orders.product.price }} + Delivery Cost <span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>4</p>
</div>
</div>
{% empty %}
<div>
<p>You don't currently have any past orders. Please check out <a href="{% url 'products' %}">our images</a> to see if there is anything you'd like to buy</p>
</div>
{% endfor %}
{% endblock %}