{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block title %}- Your Items{% endblock %}
{% block content %}
<h1>Your Items</h1>
<div class="row row-flex">
    {% for item in cart_items %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-display">
        <div class="panel-body">
            <img class="product" src="{{ MEDIA_URL }}{{ item.product.image }}" alt="product image">
            <div class="caption">
                <h3>{{ item.product.name }}</h3>
                <p class="product-description">{{ item.product.description }}</p>
                <br>
                <p class="product-size">Size: {{ product.size }}</p>
                <br>
                <p class="product-tags">Tags: {{ product.tags }}</p>
                <br>
                <p>Image: © Andrea Ma</p>
                <br>
                <p><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>{{ item.product.price }}</p>
                <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputAmount" class="sr-only">New Qty</label>
                        <div class="input-group">
                            <div class="input-group-addon">Quantity</div>
                            <input name="quantity" type="number" value="0" min="0" max="50" class="form-control">
                            <div class="input-group-addon"> {{ item.quantity }}</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if product_count > 0 %}
<div class="checkout-total">
    <br>
    <p>Total Cost of Images:  <span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>{{ totalproductcost }} </p>
    <p>Delivery Cost:  <span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>{{ totaldeliverycost }}</p>
    {% if totaldeliverycost == 0 %}
    <p>Free delivery added to cart!</p>
    {% else %}
    <p>Spend  <span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>{{ free_delivery }} more for free delivery!</p>
    {% endif %}
    <br>
    <p>Final Total (incl delivery):  <span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>{{ total }} </p>

    <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
</div>
{% else %}
<br>
<div class="col-xs-12">
    <p>Sorry you have no items in your cart. Please click <a href="{% url 'products' %}">here</a> to see our products.</p>
</div>
{% endif %}
{% endblock %}