{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>Spectrum {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="icon" href="{% static 'images/favicon-s.ico' %}" type="image/x-icon">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block head_js %}
        {% endblock head_js %}
    </head>
    <body>
        <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">Spectrum</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'products' %}">Shop</a></li>
                        <li><a href="{% url 'get_review' %}">Reviews</a></li>
                        <li><a href="{% url 'contacts' %}">Contact Us</a></li>
                        <li>
                            {% if product_count > 0 %}
                            <a href="{% url 'view_cart' %}">
                            <i class="fa fa-shopping-cart"></i> Cart
                            <label class="badge badge-warning">{{ product_count }}</label>
                            </a>
                            {% endif %}
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i>Profile</a></li>
                                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Logout</a></li>
                                {% else %}
                                <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i>Login</a></li>
                                <li><a href="{% url 'registration' %}"><i class="fa fa-user-plus"></i>Register</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="dropdown display-search">
                            <a  href="#" class="dropdown-toggle" data-toggle="dropdown"><i class=" fa fa-search"></i>
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <form class="form-inline" action="{% url 'search' %}" method="get">
                                    <div class="input-group">
                                        <input class="search-input" type="text" name="q" placeholder="Search" aria-label="Search">
                                        <span class="input-group-btn">
                                        <button class="btn btn-info search-btn" type="submit"><i class=" fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="container">
            {% block content %}<a name="top"></a>{% endblock %}        
        </div>
        <footer>
            <div class="container container-fluid">
                <div id="footer-details" class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h5 class="uppercase general-sub"><a href="{% url 'about' %}">About Us</a></h5>
                        <h5 class="uppercase general-sub"><a href="{% url 'delivery' %}">Delivery Details</a></h5>
                        <h5 class="uppercase general-sub"><a href="{% url 'contacts' %}">Contact Us</a></h5>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h5 class="soc-links-title">Connect with us via Social Media!</h5>
                        <ul class="list-inline social-links">
                            <li><a target="_blank" class="soc-link hvr-soc-link-red" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" class="soc-link hvr-soc-link-orange" href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                            <li><a target="_blank" class="soc-link hvr-soc-link-yellow" href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                            <li><a target="_blank" class="soc-link hvr-soc-link-green" href="https://www.pinterest.co.uk"><i class="fa fa-pinterest"></i></a></li>
                            <li><a target="_blank" class="soc-link hvr-soc-link-indigo" href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                            <li><a target="_blank" class="soc-link hvr-soc-link-violet" href="https://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <a href="#top"><i class="fa fa-arrow-circle-up"></i></a>
                        <p>Copyright - Spectrum Ltd</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>