{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">        
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spectrum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">    
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
        
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head_js %}
    {% endblock head_js %}
</head>

<body>
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Spectrum</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">About</a></li>
                    <li><a href="{% url 'products' %}">Shop</a></li>
                    <li><a href="/">Photos</a></li>
                    <li><a href="{% url 'get_review' %}">Reviews</a></li>
                    <li><a href="{% url 'contacts' %}">Contact Us</a></li>
                    <li>
                        <a href="{% url 'view_cart' %}">
                            <i class="fa fa-shipping-cart"></i>Cart
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Account
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'registration' %}">Register</a></li>
                        {% endif %}
                        </ul>
                    </li>
                    <li class="dropdown display-search">
                        <a class="dropdown-toggle" data-toggle="dropdown">Search
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        <form action="{% url 'search' %}" method="get">
                            <input type="text" name="q">
                            <button type="submit">Search</button>
                        </form>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="container">
        <h1>{% block page_title %}{% endblock %}</h1>
        {% block content %}{% endblock %}        
    </div>
    <footer>
        <div class="container">
            <p>Copyright - Spectrum Ltd</p>
        </div>
        <div id="footer-details" class="row">
            <div class="col-sm-4">
                <h5 class="uppercase general-sub">About</h5>
                <h5 class="uppercase general-sub">Photos</h5>
                <h5 class="uppercase general-sub">FAQs</h5>
                <h5 class="uppercase general-sub">Contact Us</h5>
            </div>
            <div class="col-sm-4">
                <h5 class="uppercase general-sub">MySocial</h5>
                <ul class="list-inline social-links">
                    <li><a target="_blank" class="hvr-sweep-to-bottom" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" class="hvr-sweep-to-bottom" href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" class="hvr-sweep-to-bottom" href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                    <li><a target="_blank" class="hvr-sweep-to-bottom" href="https://www.pinterest.co.uk"><i class="fa fa-pinterest"></i></a></li>
                    <li><a target="_blank" class="hvr-sweep-to-bottom" href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                    <li><a target="_blank" class="hvr-sweep-to-bottom" href="https://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>