{% extends 'base.html' %}

{% block title %}Customer Reviews{% endblock %}

{% block content %}
<h1>Customer Reviews</h1>
<div class= "row row-flex">
{% for review in review %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="review-panel">
            <div class="col-md-6 col-sm-6 text-center">
                <p><div class="product" style="background-image: url('{{ MEDIA_URL }}{{ review.product.image }}')"></div></p>
                <p><span class="boldtext">Product:</span> {{ review.product }}</p>
                <p><span class="boldtext">{{ review.author }} image:</span> <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ review.image }}')"></div></p>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="{% url 'review_detail' review.id %}"><h3>{{ review.title }}</h3></a>
                <div class="row">
                    <div class="col-xs-9">
                        <p><span class="boldtext">Author:</span>{{ review.author }}</p>
                        <p><span class="boldtext">Rating:</span><p class="rating">{{ review.rating }}</p></p>
                        <p><span class="boldtext">Review:</span> {{ review.content|truncatewords:30 }}</p>
                        <p><a href="{% url 'review_detail' review.id %}" class="btn btn-default">Read more</a></p>
                        <p><span class="boldtext">Published on:</span> {{ review.published_date }}</p>                            
                        <p><span class="boldtext">Views:</span> {{ review.views }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}