<!-- https://stackoverflow.com/questions/5805059/how-do-i-make-a-placeholder-for-a-select-box-->
{% extends 'base.html' %}

{% block title %}- Customer Reviews{% endblock %}

{% block content %}
<h1>Customer Reviews</h1>
<br>
<p>Please find our customer reviews of our images</p>
{% if user.is_authenticated %}
<p>Please feel free to add your opinions of our products <a href="{% url 'new_review' %}"> here.</a></p>
{% endif %}
<br>
<form class="form-inline" action="{% url 'filter' %}" method="get">
    <select name="z" required>
        <option value="" disabled selected hidden>Click here for dropdown options</option>
        {% for product in products %}
        <option value="{{ product.name }}">{{ product.name }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-info filter-btn" type="submit"><i class=" fa fa-search"></i></button>
</form>
<br>
<div class="container row row-flex">
    {% for review in review %}
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 display panel panel-default">
        <div class="review-panel">
            <div class="col-xs-12 col-md-5 col-lg-5 text-center">
                <div class="review-product" style="background-image: url('{{ MEDIA_URL }}{{ review.product.image }}')"></div>
                <div class="boldtext">Product: {{ review.product }}</div>
                {% if review.image == "" %}
                {% else %}
                <br>
                <div class="boldtext">{{ review.author }} image:</div>
                <div class="review-product" style="background-image: url('{{ MEDIA_URL }}{{ review.image }}')"></div>
                <br>
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-12 col-lg-6 review-text">
                <a href="{% url 'review_detail' review.id %}">
                    <h3>{{ review.title }}</h3>
                </a>
                <div class="row">
                    <div class="col-xs-12">
                        <p><span class="boldtext">Author:</span> {{ review.author }}</p>
                        <p><span class="boldtext">Rating:</span>
                        <p class="rating"> {{ review.rating }}</p>
                        <p>{{ review.content|truncatechars:100 }}</p>
                        <p><a href="{% url 'review_detail' review.id %}" class="btn btn-info">Read more</a></p>
                        <p><span class="boldtext">Published on:</span> {{ review.published_date }}</p>
                        <p><span class="boldtext">Views:</span> {{ review.views }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% empty %}
    <br>
    <div class="col-xs-6 col-sm-12">
        <p>Sorry there are currently no reviews for the selected product.{% if user.is_authenticated %} Please feel free to <a href="{% url 'new_review' %}">add a review here.</a>{% endif %}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}