{% extends 'base.html' %}

{% block page_title %}Customer Reviews{% endblock %}

{% block content %}
    {% for review in review %}
        <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
                <a class="story-img" href="#">
                    <img src="/media/img/profile.jpg" class="img-circle">
                </a>
                <p><span class="boldtext">Author:</span>{{ review.author }}</p>
            </div>
            <div class="col-md-10 col-sm-9">
                <h3>{{ review.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        <p><span class="boldtext">Product:</span> {{ review.product }}</p>
                        <p><span class="boldtext">Review:</span> {{ review.content|truncatewords:30 }}</p>
                        <p><a href="{% url 'review_detail' review.id %}" class="btn btn-default">Read more</a></p>
                        <p><span class="boldtext">Published on:</span> {{ review.published_date }}</p>                            
                        <p><span class="boldtext">Views:</span> {{ review.views }}</p>
                        <p><span class="boldtext">Tag:</span> {{ review.tag }}</p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
{% endblock %}