{% extends 'base.html' %}
{% block title %}Reviews{% endblock %}

{% block content %}
<h1>Reviews</h1>
    <div class="row">
        <div class="col-md-2 col-sm-3 text-center">
            <p><div class="product" style="background-image: url('{{ MEDIA_URL }}{{ review.product.image }}')"></div></p>
            <p><span class="boldtext">Product:</span> {{ review.product }}</p>
            <p><span class="boldtext">{{ review.author }} image:</span> <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ review.image }}')"></div></p>
        </div>
        <div class="col-sm-10 col-md-9">
            <h3>{{ review.title }}</h3>
            <div class="row">
                 <div class="col-xs-9">
                    <p><span class="boldtext">Author:</span>{{ review.author }}</p>
                    <p><span class="boldtext">Review:</span>{{ review.content }}</p>
                    <p><span class="boldtext">Published on:</span> {{ review.published_date }}</p>                            
                    <p><span class="boldtext">Views:</span> {{ review.views }}</p>
                    <a href="{% url 'get_review' %}" class="btn btn-default">Back to Review</a>
                    {% if user.is_authenticated and user == review.author %}
                    <a href="{% url 'edit_review' review.id %}" class="btn btn-default">Edit Review</a>
                    <a href="{% url 'delete_review' review.id %}" class="btn btn-default">Delete Review</a>
                    {% endif %}
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}